@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,500&display=swap');

body{
    background-color: rgb(48, 0, 0);
}
.App{
    position: relative;
}
.while-loading{
    cursor: wait;
}
.loading{
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    background-color: hsl(0, 50%, 20%);
}
.loading h1{
    height: 100vh;
    line-height: 100vh;
    font-size: 5rem;
    text-align: center;
    color: #ffffff;
}
/* movie-detail */
.movie-detail {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}
.movie-detail .container {
    position: relative;
}

.movie-detail-cancel {
    position: absolute;
    top: 0px;
    right: 100px;
    color: rgb(182, 182, 182);
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border : none;
    cursor: pointer;
}
.movie-detail-cancel:hover {
    color: rgb(253, 253, 253);
}
.movie-detail-box{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    border-radius: 100px;
}
.movie-detail-poster{
    margin-top: 80px;
    background-color: hsl(0, 50%, 20%);
    width: fit-content;
    height: fit-content;
    padding: 15px 10px;
}
.movie-detail-poster img {
    width: 250px;
}
.md-title {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 238, 238);
}
.movie-detail-info {
    margin-top: 30px;
    margin-right: 30px;
}
.md-info-rating{
    font-family: 'Exo', sans-serif;
    font-size: 1.2rem;
}
.movie-detail-info p {
    margin: 20px 0;
    padding: 10px 20px;
    width: fit-content;
    height: 400px; 
    background-color: rgba(0,0,0,0.1);
    border : 2px solid hsl(0, 50%, 20%);
    border-radius: 20px;
    overflow: scroll;
}
.movie-detail-info p::-webkit-scrollbar{
    display: none;
}
.movie-detail-info ul {
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
}
.movie-detail-info ul li {
    display: inline-block;
    margin: 0 10px;
}
@media (max-width : 1280px){
    .loading h1{
        font-size: 4rem;
    }
    .movie-detail-cancel{
        right: 50px;
    }
    .movie-detail-box{
        width: 800px;
        height: 500px;
    }
    .movie-detail-poster {
        margin-top: 50px;
    }
    .movie-detail-poster img {
        width: 200px;
    }
    .md-title{
        font-size: 1.3rem;
    }
    .movie-detail-info p {
        height: 300px;
    }
}
@media (max-width : 960px){
    .loading h1{
        font-size: 3rem;
    }
    .movie-detail-cancel{
        right: 70px;
        top: 10px;
    }
    .movie-detail-cancel:hover{
        color: hsl(0, 50%, 20%);
    }
    .movie-detail-box{
        width: 720px;
        height: 500px;
    }
}
@media (max-width : 720px){
    .loading h1{
        font-size: 2.5rem;
    }
    .movie-detail-cancel{
        right: 50px;
    }
    .movie-detail-box{
        width: 480px;
        height: 360px;
    }
    .movie-detail-poster {
        margin-top: 50px;
        padding: 10px 5px;
    }
    .movie-detail-poster img {
        width: 100px;
    }
    .md-title{
        font-size: 0.9rem;
    }
    .md-info-rating{
        font-size: 1rem;
    }
    .movie-detail-info p {
        height: 150px;
    }
    .movie-detail-info ul {
        font-size: 0.9rem;
    }
}
@media (max-width : 480px){
    .loading h1{
        font-size: 2rem;
    }
    .movie-detail-cancel{
        right: 60px;
    }
    .movie-detail-box{
        width: 360px;
        height: 300px;
    }
    .movie-detail-poster {
        margin-top: 50px;
        padding: 5px;
    }
    .movie-detail-poster img {
        width: 100px;
    }
    .movie-detail-info {
        margin-top: 20px;
        margin-right: 20px;
    }
    .md-title{
        font-size: 0.9rem;
    }
    .md-info-rating{
        font-size: 0.8rem;
    }
    .movie-detail-info p {
        margin: 10px 0;
        height: 120px;
        padding: 10px;
        font-size: 0.8rem;
    }
    .movie-detail-info ul {
        font-size: 0.9rem;
    }
}